@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

[epub|type~="preface"] header h2{
	margin-bottom: 1em;
}

[epub|type~="z3998:letter"] header{
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

[epub|type~="z3998:salutation"]{
	font-variant: small-caps;
	text-align: initial;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}
